<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="backgroundImageExample"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div
        mdbCollapse
        class="collapse navbar-collapse"
        id="backgroundImageExample">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" routerLink="new-task">New Task</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://s3.envato.com/files/446103124/bottom_close_view_to_do_list_written_on_(sticky_note)_colorful_sticky_notes_lupa_pen_calculator_cinnamon_sticks_ruler_on_dark_background.jpg');
      height: 400px;
      ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">To do app</h1>
          <h4 class="mb-3">Now managing your tasks is really simple</h4>

        </div>
      </div>
    </div>
  </div>

</header>
