<div class="container">
  <h2>Task List</h2>

  <div class="d-flex align-items-center">
    <label class="mr-2" for="taskName"><h4>Task name</h4>  </label>
    <input class="col-auto" type="text" id="taskName" [(ngModel)]="taskName">
    <div class="col-auto">
      <button class="btn btn-primary" (click)="searchAndSort()">Search</button>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <label class="mr-2" for="sortBy"><h4>Sort By:</h4></label>
    <select id="sortBy" [(ngModel)]="sortBy">
      <option value="">-- Select Field --</option>
      <option value="taskName">Task Name</option>
      <option value="deadline">Deadline</option>
      <option value="status">Status</option>

    </select>
    <label class="mr-2" for="sortDirection"><h4>Sorting Direction:</h4></label>
    <select id="sortDirection" [(ngModel)]="sortDirection">
      <option value="">-- Select Direction --</option>
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="searchAndSort()">Sort</button>
    </div>
  </div>
  <hr>

  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th>Task Name</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.taskName }}</td>
      <td>{{ task.deadline }}</td>
      <td>{{ task.status }}</td>
    </tr>
    </tbody>
  </table>
</div>
