

.custom-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dialog {
  margin: 0 auto;
}


.task-name-input {
  margin-right: 10px;
}

.bold-label {
  font-weight: bold;
}

.task-name-input {
  margin-right: 10px;
  width: 200px;
}


